// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #3AAFB9;
$yellow: #FFC65A;
$orange: #E67E22;
$light-grey: #F9F8F8;
$grey: #5B7186;
$dark-grey: #455667;
$black: #000000;
$white: #FFFFFF;
$green: #44AF69;
$brown: #7D4600;
$prune: #684657;
$gold: #DAA501;
$beige: #FEF5EF;
$dutch: #FCECC9;
