// Specific CSS for your home-page

.index-title {
  padding: 6px 6px;
  margin-top: revert;
}

.index-subtitle {
  padding: 8px 8px;
  margin-top: revert;
  text-align: center;
  margin-top: 3rem;
}

.index-body {
  margin-top: 2rem;
}
