
<div class="modal" data-contact-form-target="modal" style="position: fixed;">
  <div class="modal-content">
    <h2>Contact Maxime</h2>
    <p><i class="fa-solid fa-phone-flip mt-3"></i> 06 64 71 04 83</p>
    <p><i class="fa-regular fa-envelope"></i> Send me message via the form below:</p>

    <form
      action="https://formspree.io/f/mgejpzwy"
      method="POST"
    >
      <div class="control">
        <label style="width: -webkit-fill-available;">
          Your email:
          <input type="email" name="email" style="width: -webkit-fill-available">
        </label>
      </div>
      <div class="control">
        <label style="width: -webkit-fill-available;">
          Your message:
          <textarea name="message" style="width: -webkit-fill-available; height: 100px"></textarea>
        </label>
      </div>

      <div class="field d-flex justify-content-end my-2">
        <div class="control">
          <button type="submit" class="btn-submit" id="btn-submit">Send</button>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" data-action="click->contact-form#closeModal">
      <i class="fa-regular fa-circle-xmark"></i></button>
    </form>

  </div>
  <button class="modal-close is-large" aria-label="close" data-action="click->contact-form#closeModal">
  <i class="fa-regular fa-circle-xmark"></i></button>
</div>
