<div class="footer">
  <div class="footer-links px-3">
    <a href="https://github.com/MaxOudin" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright px-3">
    This website is made with <i class="fas fa-heart"></i> by Maxime
  </div>
  <div class="footer-links px-3">
    <a href="https://www.linkedin.com/in/maxime-oudin-developer/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
