<div class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div data-controller="contact-form"
       class="container-fluid text-color justify-content-around navbar-top"
       style="display: block">
    <div class="d-flex justify-content-start">
      <button class="d-lg-none btn-info navbar-toggler"
              data-action="click->toggle-menu#toggle"
              >
        Menu
      </button>
    </div>
    <div>
      <ul class="navbar-nav justify-content-between hidden-nav"
          data-toggle-menu-target="toggleable">
        <div class='d-flex flex-start listitem'>
          <li class="nav-item sm-col-4">
            <a class="nav-link text-white px-2 py-1" href="/">Home</a>
          </li>
          <li class="nav-item sm-col-4">
            <a class="nav-link text-white px-2 py-1" href="/projects">Projects</a>
          </li>
        </div>
        <div>
          <li class="nav-item">
            <%= link_to "Contact", "#", class: "nav-link text-white px-2 py-1", data: { action: "click->contact-form#openModal", contact_form_target: "modal" } %>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>

<div class="navbar-bottom">
  <div class="profile">
    <h4>Maxime Oudin</h4>
  </div>
  <div class="container-fluid" style="position: absolute; margin-top: -50px;">
    <div class="nav-item picture-container">
      <div class="picture-overlay"></div>
        <%= cl_image_tag("1694699333270_l6ba8b", width: 200, height: 200, alt: "Profile picture", class: "nav-picture", cloud_name: "dyleaesxc") %>
    </div>
  </div>
</div>

    <%= render "shared/contact" %>
