<div class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="container-fluid text-color justify-content-around navbar-top" style="display: block">
    <div class="d-flex">
      <button class="d-lg-none btn-info navbar-toggler"
              data-controller="toggle-menu"
              data-action="click->toggle-menu#toggle"
              data-toggle-target="toggle-menu.toggleable"
              data-toggle="collapse"
              data-target="#navbarToggleContent">
        Menu
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggleContent">
      <ul class="navbar-nav justify-content-between toggleable" data-target="toggle-menu.toggleable">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar-bottom">
  <div class="profile">
    <h4>Maxime Oudin</h4>
  </div>
  <div class="container-fluid" style="position: absolute; margin-top: -50px;">
    <div class="nav-item picture-container">
      <div class="picture-overlay"></div>
        <%= cl_image_tag("1694699333270_l6ba8b", width: 200, height: 200, alt: "Profile picture", class: "nav-picture", cloud_name: "dyleaesxc") %>
    </div>
  </div>
</div>
