<div class="container">

  <div class="index-title">
    <h2>Welcome, I am Maxime !</h2>
  </div>
  <div style="text-align: center;">
    <div>
      <p>
        After spending 8 years in purchasing positions I underwent a career transition in summer 2023 to pursue the <strong>Web Developer</strong> program at Le Wagon Bordeaux.
      </p>
    </div>
    <div class="">
    <p>
      My goal is to become a confirmed web developer, primarily focused on back-end development. This career shift reflects my passion for programming and my eagerness to thrive in a constantly evolving field.
    </p>
    </div>
    <div>
    <p>
      Do not hesitate to look at my projects, and if you would like to give any comment or feedback, feel free to contact me !
    </p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="services">
      <div class="index-subtitle ">
          <h3> Web developer </h3>
      </div>
      <div class="cards">

        <div class="text-dev">
          <i class="fa-solid fa-code icones"></i>
          Back end
        </div>
        <div class="text-dev">
          <i class="fa-solid fa-pen icones"></i>
          Frond end
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center; margin-top: 4rem;">
    <p>🛠 The most used technologies on my sides are Ruby On Rails, Javascript vanilla and APIs management. 🛠</p>
  </div>
</div>
