<div class="container">

  <div>
    <h1>Welcome, I am Maxime !</h1>
  </div>

  <div>

    <div>
      <h3> Backend web developer, specialized in Ruby On Rails
      </h3>
      <p style="color-prune">
        After spending 8 years in purchasing positions I underwent a career transition in summer 2023 to pursue the Web Developer program at Le Wagon Bordeaux.
      </p>
      <p>
        My goal is to become a confirmed web developer, primarily focused on back-end development. This career shift reflects my passion for programming and my eagerness to thrive in a constantly evolving field.
      </p>
      <p>
        Do not hesitate to look at my projects, and if you would like to give any comment or feedback, feel free to contact me !
      </p>
    </div>

    <div>
      <p>
      🛠 Technologies used:
      </p>

      <ul>
        <li>Ruby on Rails</li>
        <li>SQL</li>
        <li>APIs</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Git</li>
        <li>Github</li>
        <li>Heroku</li>
      </ul>
    </div>

  </div>

</div>
