<div>
  <div class="projects-title">
  <h2> My web projects</h2>
  </div>

  <div class="projects-body">
    <p>
    Projects are coming soon - do not hesitate to contact me to work together or if you have any suggestions
    </p>
  </div>
</div>
