.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  /* other styles */
}

.modal-active {
  opacity: 0.9;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 1s;
  margin-top: 10vh;
  margin-left: 25vw;
  /* other styles */
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-content {
  background-color: $dark-grey;
  border-radius: 3px;
  padding: 20px;
  min-width: 500px;
  max-width: 700px;
  color: white;
}

.modal-close {
  background-color: $dark-grey;
  color: white;
  border: white;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-close:hover {
  color: $gold;
}

.btn-contact-hidden {
  display: none;
}

.btn-submit {
  background-color: $dark-grey;
  color:white;
  width: 60px;
  height: 30px;
  border: solid 1px white;
  border-radius: 3px;
}

.btn-submit:hover {
  border: solid 1px $gold;
  color: $gold;
}
