.footer {
  background: $gold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0px 50px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 42px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: $prune;
}
.footer .fa-heart {
  color: $prune;
}

@media (max-width: 576px) {
  .footer {
    height: auto;
    padding: 6px; /* Adjust padding for smaller screens */
  }

  .footer-links a {
    font-size: 24px; /* Adjust font size for smaller screens */
    padding: 0px 3px; /* Adjust padding for smaller screens */
  }
}
