.navbar-lewagon {
  justify-content: space-between;
  color: $light;
  position: sticky;
  top: 0;
  height: 100px;
  background-color: $dark-grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: $light;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar.a{
  color: $light;
}

.nav-item {
  width: 150px;
  text-align: center;
}

.navbar-nav {
  width: 100vw;
}

.navbar-top {
  background-color: $dark-grey !important;
  height: 80px;
}

.navbar-bottom {
  background-color: $light-grey !important;
  height: 80px;
}

.picture-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: -80px auto;
  border-radius: 50%;
  overflow: hidden;
}

.picture-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
